---
import { CldUploadWidget } from "astro-cloudinary"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Terror makeup generator">
	<main class="py-4 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
		<h1 class="mb-4 text-4xl font-extrabold text-slate-800 md:text-5xl lg:text-6xl">Terror Makeup Generator</h1>
		<p class="mb-8 text-lg font-normal text-slate-600 lg:text-xl sm:px-16 lg:px-48">An AI-powered tool that transforms your face into spooky Halloween makeup styles.</p>
		<CldUploadWidget 
			id="upload-events"
			uploadPreset="upload-unsigned-images"
			options={{
				sources: ["local"],
				multiple: false,
				maxFiles: 1
			}}
		>
			<button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2">Upload your photo</button>
		</CldUploadWidget>
	</main>
</Layout>

<script>

	import { navigate } from 'astro:transitions/client'

	const widget = document.querySelector("#upload-events");

	if (widget) {

		//  successful upload
		widget.addEventListener('clduploadwidget:success', ((e: CustomEvent<{ info: { public_id: string } }>) => {

			const publicId = e.detail.info.public_id

			navigate(`/photo?id=${publicId}`)

		}) as EventListener)

	}

</script>
