---
import { CldUploadWidget } from "astro-cloudinary"
import Principal from "../layouts/Principal.astro"
import ExamplesGallery from "../components/ExamplesGallery.astro"
---

<Principal title="Terror outfit generator">
	<CldUploadWidget 
		id="upload-events"
		uploadPreset="upload-unsigned-images"
		options={{
			sources: ["local"],
			multiple: false,
			maxFiles: 1
		}}
	>
		<button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2">Upload your photo</button>
	</CldUploadWidget>
	<ExamplesGallery />
</Principal>

<script>

	import { navigate } from 'astro:transitions/client'

	const widget = document.querySelector("#upload-events");

	if (widget) {

		//  successful upload
		widget.addEventListener('clduploadwidget:success', ((e: CustomEvent<{ info: { public_id: string } }>) => {

			const publicId = e.detail.info.public_id

			navigate(`/photo?id=${publicId}`)

		}) as EventListener)

	}

</script>
