---
import { getCldImageUrl } from "astro-cloudinary/helpers"
import Layout from "../layouts/Layout.astro";
import MakeupOptions from "../components/MakeupOptions.astro"

const { searchParams } = Astro.url

const id = searchParams.get("id")

if (id == null) return Astro.redirect("/")

const url = getCldImageUrl({ src: id })
---

<Layout title="Photo">
  <main class="py-4 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
    <div class="flex flex-col items-center pb-10">
      <img class="w-52 h-52 mb-3 rounded-3xl shadow-lg" src={url} alt="image" />
      <h5 class="mb-1 text-xl font-medium text-slate-800">Choose an option</h5>
      <span class="text-sm text-slate-500">Do you want to look like a vampire or something truly terrifying?</span>
      <MakeupOptions />
    </div>
  </main>
</Layout>