---
import Principal from "../layouts/Principal.astro"
import Loader from "../components/Loader.astro"

const { searchParams } = Astro.url

const img = searchParams.get("img")

if (img == null) return Astro.redirect("/")

---

<Principal title="Result">
  <div class="mt-20 text-center">
    <p class="text-3xl sm:text-6xl tracking-tight font-bold">Ta-da! Your Halloween Outfit</p>
    <div class="flex flex-col items-center mt-10">
      <img id="img" src={img} class="w-96 h-96 mb-3 rounded-3xl shadow-lg hidden" alt="result" />
      <Loader />
    </div>
  </div>
</Principal>

<script>

  const img = document.querySelector("#img") as HTMLButtonElement
  const loader = document.querySelector("#loader") as HTMLElement

  img.addEventListener("load", () => {
    img.classList.remove("hidden")
    loader.classList.add("hidden")
  })

</script>
