---
import Principal from "../layouts/Principal.astro"
import Disclaimer from "../components/Disclaimer.astro"
import { examples } from "../data"
import type { ImageItem } from "../types/ImageItem"

---

<Principal title="Example Showcase">
  <div class="mt-20 text-center">
    <p class="text-3xl sm:text-6xl tracking-tight font-bold">Example Showcase</p>
    <p class="mt-6 text-lg text-slate-600">A collection of halloween outfits.</p>
    <div class="mt-20 flex flex-col md:flex-row gap-3 justify-center">
      { examples.map((item: ImageItem, index: number) => 
        <div class="bg-white border border-gray-200 rounded-lg shadow">
          <a href={`example?id=${index}`}>
            <img class="md:w-48 md:h-48 rounded-t-lg hover:opacity-70" src={item.original} alt={`img_example${index+1}`} />
          </a>
          <div class="p-3">
            <a href={`example?id=${index}`}>
              <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 hover:opacity-70">Example {index+1}</h5>
            </a>
          </div>
        </div>
      )}
    </div>
    <Disclaimer />
  </div>
</Principal>
