---

---

<section class="mx-auto max-w-3xl mt-20 mb-10">
  <h4 class="font-semibold mb-3">Disclaimer: Fair Use Notice</h4>
  <p class="mb-2">The images displayed in this demo are used solely for educational and non-commercial purposes as part of a <a class="font-semibold hover:text-sky-500" href="https://cloudinary.com/blog/cloudinary-cloudcreate-spooky-ai-hackathon" target="_blank">hackathon</a> submission. We believe that the use of these images qualifies as "fair use" under U.S. copyright law, as the purpose is transformative, non-commercial, and intended to showcase AI-powered transformations.</p>
  <p>However, if you are the owner of any of the images and believe that their use infringes upon your copyright, please <a class="font-semibold hover:text-sky-500" href="mailto:romerojosemanuel@hotmail.com">contact us</a>, and we will promptly remove the material in question.</p>
</section>