---
import { examples } from "../data"
import type { ImageItem } from "../types/ImageItem"

---

<div class="my-16">
  <h3 class="text-lg font-normal text-slate-600 lg:text-xl sm:px-16 lg:px-48 mb-7">Examples</h3>
  <div class="flex gap-3 justify-center">
    { examples.map((item: ImageItem, index: number) => 
      <button data-img={index}>
        <img class="w-48 h-48 rounded-lg" src={item.original} alt={item.name} />
      </button>
    )}
  </div>
</div>

<script>

  import { navigate } from 'astro:transitions/client'

  const buttons = document.querySelectorAll("button")

  buttons.forEach((btn) => {
    btn.addEventListener("click", (e) => {
      const index = btn.getAttribute("data-img")

      if (index == null) return

      navigate(`example?id=${index}`)

    })
  })

</script>

