---
import Upload from "../icons/upload.astro"
import Outfit from "../icons/outfit.astro"
import Sparkles from "../icons/sparkles.astro"
---

<section class="mt-60 text-center">
  <h2 class="text-xl sm:text-3xl tracking-tight font-bold">How does it works?</h2>
  <div class="flex flex-col lg:flex-row gap-5 lg:justify-between mt-20">

    <div>
      <Upload class:list={"mx-auto w-52 h-52 text-slate-800"} />
      <div class="p-3">
        <h6 class="mb-2 text-lg font-medium tracking-tight text-gray-900">1. Upload your image</h6>
      </div>
    </div>
    <div>
      <Outfit class:list={"mx-auto w-52 h-52 text-slate-800"} />
      <div class="p-3">
        <h6 class="mb-2 text-lg font-medium tracking-tight text-gray-900">2. Choose your style</h6>
      </div>
    </div>
    <div>
      <Sparkles class:list={"mx-auto w-52 h-52 text-slate-800"} />
      <div class="p-3">
        <h6 class="mb-2 text-lg font-medium tracking-tight text-gray-900">3. See the result</h6>
      </div>
    </div>

  </div>
</section>