---
const makeup_options = [
  "vampire",
  "skeleton",
  "zombie",
  "witch",
  "devil",
  "custom option"
]
---

<div class="flex mt-4 md:mt-6">
  <select id="options" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">

    { makeup_options.map((option: string) => 
      <option 
        value={option}
      >
        {option}
      </option>
    )}

  </select>
</div>