---
import Github from "../icons/github.astro"
---

<div class="flex items-center md:justify-between gap-x-3 pt-6 text-slate-800">
  <div class="text-lg font-bold hover:text-sky-500">
    <a href="/">Terror Outfit Generator</a>
  </div>
  <div class="text-sm font-semibold">
    <nav>
      <ul class="flex items-center gap-x-8">
        <li>
          <a href="/" class="hover:text-sky-500">Inicio</a>
        </li>
        <li>
          <a href="/showcase" class="hover:text-sky-500">Showcase</a>
        </li>
        <li>
          <a href="" class="hover:opacity-70" target="_blank">
            <Github />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>